<header class="dashboard-header">
    <div class="col-lg-2 all-pad-none">
        <p class="dashboard-logo" ui-sref="/">JobUp</p>
    </div>
    <div class="col-lg-8">
        <ul class="menu-list">
            <li class="menu-list__item active" ui-sref="task">DASHBOARD</li>
            <li class="menu-list__item">HISTORY</li>
        </ul>
    </div>
    <div class="col-lg-2">
        <p class="dashboard-profile" ui-sref="profile">PROFILE</p>
    </div>
    <div class="clearfix"></div>
</header>