.dashboard-header {
  padding: 0 40px;
}

.dashboard-logo {
  font-size: 2rem;
  color: #FA4C6F;
  cursor: pointer;
  padding-top: 28px;
}

.dashboard-profile {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #1A1B1F;
  padding: 28px 0 28px;
  text-align: right;
  cursor: pointer;
}

.menu-list {
  &__item {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #1A1B1F;
    float: left;
    margin-right: 44px;
    cursor: pointer;
    padding: 24px 0 28px;
    border-top: 4px solid transparent;

    &:last-child {
      margin-left: 0;
    }
    &.active {
      border-top: 4px solid #1A1B1F;
    }
  }
}