<g-modal class="modal-title-js" g-title="'HELPER'">
    <div class="modal-body">
        <h2>Вы действительно хотите очистить позицию ?</h2>

        <button class="btn btn-primary" ng-click="[modal.clearPosition(modal.value.value = 0),modal.hide()]">Очистить</button>
    </div>
    <div class="modal-footer">

        <!--<button class="btn btn-default" ng-click="modal.say()">Сохранить</button>  &lt;!&ndash;ng-disabled="!form.$valid"&ndash;&gt;-->
        <!--<button class="btn btn-default" ng-click="modal.cancel()">Отменить</button>-->
    </div>
</g-modal>
