$modal-width: 400px;
$modal-height: 260px;
$modal-header-height: 50px;
$border-radius: 1px;
$modal-footer-height: 50px;

$xl-overcast-mid: solid;

$xl-overcast-light: white;
$xl-white: white;
$xl-alert-info: grey;
g-modal.modal {
  // This bugfix is needed to display modal by default on web-page reload if { show: true }
  &:not(.ng-animate) {
    display: block;
  }

  .modal-dialog {
    width: $modal-width;
    height: $modal-height;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .modal-content {
      width: $modal-width;
      height: $modal-height;
      background-color: $xl-white;
      border: none;
      border-radius: 3px;

      .modal-header {
        height: $modal-header-height;
        background-color: $xl-alert-info;
        border: none;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: 15px 18px;
        text-align: center;

        h1 {
          margin: 0;
          float: left;
          font-size: 16px;
          color: $xl-white;
          display: inline-block;
          float: none;
        }

        > .fa {
          float: right;
          line-height: 0.9;
          font-size: 12px;
          color: $xl-white;
          cursor: pointer;
        }

        i {
          float: right;
          cursor: pointer;
        }
      }

      .modal-body {
        padding: 30px;
        text-align: center;
        height: calc(100% - #{$modal-header-height + $modal-footer-height});
      }

      .modal-footer {
        font-size: 0;
        padding: 18px;
        height: $modal-footer-height;
        background-color: $xl-overcast-light;
        border-top: 1px solid $xl-overcast-mid;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}

.modal-backdrop {
  opacity: .5;
}

@media (max-width: 767px) {
  g-modal.modal .modal-dialog {
    width: 100%;
    padding: 0 15px;
    height: 300px;
  }

  g-modal.modal .modal-dialog .modal-content {
    width: 100%;
    height: 300px;
  }
}



