<nav class="main-menu"  ng-swipe-left="ctrl.swipeRulle()" ng-class="ctrl.actionService.swipeAction ? '' : 'active'">
    <div class="fixed-block">
        <ul class="nav nav-pills main-menu-list">
            <!--<li role="presentation" class="main-menu-list-item">-->
                <!--<a ui-sref="home" class="main-menu-list-item__link"-->
                   <!--ng-click="ctrl.menuAdaptiveClosed($event.target)"-->
                <!--&gt;<i class="fa fa-home" aria-hidden="true"></i> Главная</a>-->
            <!--</li>-->
            <li role="presentation" class="main-menu-list-item" >
                <a ui-sref="profile" class="main-menu-list-item__link"
                   ng-click="[ctrl.menuAdaptiveClosed($event.target),ctrl.toTop()]"
                ><i class="fa fa-user" aria-hidden="true"></i>Профиль</a>
            </li>
            <li role="presentation" class="main-menu-list-item" >
                <a ui-sref="notes" class="main-menu-list-item__link"
                   ng-click="[ctrl.menuAdaptiveClosed($event.target),ctrl.toTop()]"
                ><i class="fa fa-external-link" aria-hidden="true"></i> Добавить клиента</a>
            </li>
            <li role="presentation" class="main-menu-list-item">
                <a ui-sref="allNotes" class="main-menu-list-item__link"
                   ng-click="[ctrl.menuAdaptiveClosed($event.target),ctrl.toTop()]"
                ><i class="fa fa-calendar-check-o" aria-hidden="true"></i> План на день</a>
            </li>
            <li role="presentation" class="main-menu-list-item">
                <a ui-sref="history" class="main-menu-list-item__link"
                   ng-click="[ctrl.menuAdaptiveClosed($event.target),ctrl.toTop()]"
                ><i class="fa fa-history" aria-hidden="true"></i> История</a>
            </li>
            <!--<li role="presentation" class="main-menu-list-item">-->
                <!--<a ui-sref="/" class="main-menu-list-item__link" ng-disabled="true">Просчет маршрута</a>-->
            <!--</li>-->
            <li role="presentation" class="main-menu-list-item">
                <a ui-sref="statistics" class="main-menu-list-item__link"
                   ng-click="[ctrl.menuAdaptiveClosed($event.target),ctrl.toTop()]"
                ><i class="fa fa-line-chart" aria-hidden="true"></i> Статистика</a>
            </li>
            <li role="presentation" class="main-menu-list-item">
                <a ui-sref="maps" class="main-menu-list-item__link"
                   ng-click="[ctrl.menuAdaptiveClosed($event.target),ctrl.toTop()]"
                ><i class="fa fa-map-marker" aria-hidden="true"></i> Карта</a>
            </li>
            <li role="presentation" class="main-menu-list-item">
                <a ui-sref="settings" class="main-menu-list-item__link"
                   ng-click="[ctrl.menuAdaptiveClosed($event.target),ctrl.toTop()]"
                ><i class="fa fa-cogs" aria-hidden="true"></i> Настройки</a>
            </li>
        </ul>
    </div>

    <div class="swipeOpenBlock" ng-swipe-right="ctrl.swipeRulle()" ng-class="ctrl.actionService.swipeAction ? '' : 'active'"></div>
</nav>