<div class="statistics-block">
    <h3 class="h3">Статистика на сегодня</h3>
    <hr>
    <ul class="statistics-list row">
        <li class="col-lg-4" ng-repeat="position in ctrl.arrResult">
            <P>Всего необходимо на сегодня {{position.name}}:</P>
            <hr class="hidden-xs">
            <P><strong>Обьем: </strong> {{position.value}} Л.</P>
            <P><strong>Збор:</strong> {{position.sumCost}} грн.</P>
            <hr>
        </li>
        <!--<li class="col-lg-4">-->
            <!--<P>Всего необходимо на сегодня позиция2:</P>-->
            <!--<hr class="hidden-xs">-->
            <!--<P><strong>Обьем: </strong> {{ctrl.getAllValueDT(1)[1]}} Л.</P>-->
            <!--<P><strong>Збор:</strong> {{ctrl.getAllValueDT(1)[0]}} грн.</P>-->
            <!--<hr>-->
        <!--</li>-->
        <!--<li class="col-lg-4">-->
            <!--<P>Всего необходимо на сегодня позиция3:</P>-->
            <!--<hr class="hidden-xs">-->
            <!--<P><strong>Обьем: </strong> {{ctrl.getAllValueDT(2)[1]}} Л.</P>-->
            <!--<P><strong>Збор: </strong> {{ctrl.getAllValueDT(2)[0]}} грн.</P>-->
            <!--<hr>-->
        <!--</li>-->
    </ul>

    <h3 class="h3">Обшая сумма</h3>
    <p>Всего: {{ctrl.totalSum}}</p>
</div>