.list-coefficient {
  margin-top: 15px;
}

.settings-new-fixed {
  position: fixed;
  right: 15px;
}

@media (max-width: 991px) {
  .list-coefficient {
    .h3 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 767px) {
  .list-coefficient {
    &__info {
      font-size: 1.4rem;
    }

    .list-notes {
      &__input {
        max-width: 90px;
      }
    }
  }
  .list-coefficient {
    &__name {
      display: inline-block;
      margin-right: 0;
    }
  }
  .btn-settings-delete {
    margin-top: 10px;
  }

  .settings-new-fixed {
    position: relative;
    right: 0;
  }
}